<!DOCTYPE html>
<html lang="pt-br">
<!-- Inicio do Cabeçalho -->
<head> <!-- Inicio do Cabeçalho -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- defini como o navegador deve renderizar a página -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Torna a pagina responsiva -->
  <title>Gestão Automóvel</title> <!-- Tag que adiciona o titulo na pagina -->
  <link rel="stylesheet" href="./css/style.css"> <!-- Link conexão ao arquivo CSS de estilos -->
  <script src="./js/js.js"></script> <!-- Link conexão ao arquivo JavaScript -->
  <!-- Links conexão ao Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-
     I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384- 
     0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous">
    </script>
</head>
<!-- Inicio do corpo da página -->
<body>

  <div class="container-fluid mt-4" id="contatos">
    <div class="col-12 text-center my-5">
      <h1 class="display-3">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 
                4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 
                9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
        </svg>
        Cadastro
      </h1>
    </div>
    <div class="row justify-content-center mb-5 bg-light p-3">
      <div class="col-sm-12 col-md-10 col-lg-8 ">
        <form action="/PgCadastro" method="POST">
          <div class="form-row">
            <div class="row">
              <div class="form-group col-sm-12 mb-3">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-6 mb-3">
                <label for="cpf">CPF</label>
                <input type="number" class="form-control" id="cpf" name="cpf" placeholder="CPF">
              </div>
          
              <div class="form-group col-sm-6 mb-3">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
              </div>
            </div>
          </div>
          <div class="form-row mt-4">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 
                      4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-
                      6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                </svg>
                Cadastrar
              </button>
              <button data-trigger="focus" type="button" class="btn btn-secondary" data-toggle="popover" title="Ajuda"
                data-content="Preencha os Campos abaixo e aguarde o retorno em seu email!">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-
                    2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 
                    1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 
                    5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                </svg>
                Ajuda
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
    <!-- seção que contém o rodape do site Tag<footer>, lista ordenada <ul> e finalizando com paragrafo <p> que recebe um icone através da tag <img> que direciona para o link destino. -->
  <footer class="p-5" style="background-color: #01373b ;color: white">
    <div class="row">

      <div class="col-md-3 mb-3">
        <ul class="nav flex-column">
          <li class="nav-item pb-2">
            <a class="link_nav active" aria-current="page" href="#inicio">Inicio</a>
          </li>
          <li class="nav-item pb-2">
            <a class="link_nav" href="#sobre" style="color: white">Sobre</a>
          </li>
          <li class="nav-item pb-2">
            <a class="link_nav" href="#contatos" style="color: white">Contatos</a>
          </li>
        </ul>
      </div>

      <div class="col-md-5 mb-3">
        <p>Endereço:</p>
        <p>Rua Rodrigo Medeiros, 121 - Jd Monte Alto - Campinas -SP</p>
        <p> E-mail: automotive@gmail.com</p>
      </div>
      <div class="col-md-4">
        <p>Redes Sociais:</p>
        <p>
          <img src="./img/face.png" width="=25">
          <a class="link_nav active" aria-current="page" href="#inicio" title="Ir para Facebook">Facebook</a>
        </p>
        <p>
          <img src="./img/instagram.png" width="=25px">
          <a class="link_nav active" aria-current="page" href="#inicio" title="Ir para Instagram">Instagram</a>
        </p>
      </div>
    </div>
  </footer>
</body>
</html>